<h1><%= @title = 'Ruby' %></h1>

<p>I'm a <a href="http://www.ruby-lang.org">Ruby</a> committer, mostly focusing on general bug fixing.</p>

<p>I'm an owner and currently maintain the following gems, all of which have 100% line/branch coverage, and active CI testing using GitHub Actions:</p>

<table class="coverage">
<thead>
  <tr>
    <th>Gem
    <th>Repository
    <th>CI Status
    <th>Lines Covered
    <th>Branches Covered
    <th>Coverage Tested On
  </tr>
</thead>
<tbody>
<%
require 'csv'
CSV.foreach('projects.csv') do |gem, github, _, lines, covered_lines, branches, covered_branches, date|
%>
  <tr>
    <td><a href="https://rubygems.org/gems/<%= gem %>"><%= gem %></a>
    <td><a href="https://github.com/<%= github %>"><%= github %></a>
    <td><a href="https://github.com/<%= github %>/actions/workflows/ci.yml"><img src="https://github.com/<%= github %>/actions/workflows/ci.yml/badge.svg" /></a>
    <td><%= covered_lines %>/<%= lines %>
    <td><%= covered_branches %>/<%= branches %>
    <td><%= date %>
  </tr>
<% end %>
</tbody>
</table>

<p>I'm an owner of the following ruby organization gems:

<ul>
<li>webrick
<li>fileutils
<li>date
<li>zlib
<li>tk
</ul>

<p>I'm the owner of the following gems, but these gems are no longer maintained and are now archived:

<ul>
<li>home_run
<li>scaffolding_extensions
<li>minitest-shared_description
<li>ruby-style
<li>jeremyevans-exception_notification
<li>rack-indifferent
<li>third_base
<li>scgi
<li>tilt-rails_erb
<li>evilr
<li>tilt-indirect
<li>sequel_validation_helpers_block
<li>rack-deadline
<li>faster_html_escape
<li>zozo
<li>roda-rails
<li>string-crypt
</ul>

<p>I'm the owner of the following gems, but these have been merged into other gems or renamed:

<ul>
<li>hanna-nouveau: renamed to hanna
<li>sequel_core: merged into sequel
<li>sequel_model: merged into sequel
<li>tame: renamed to pledge after change in OpenBSD function name
<li>jeremyevans-postgres-pr: renamed to sequel-postgres-pr
<li>tilt-pipeline: merged into tilt
</ul>
